<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>

  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>

  <% if (success) { %>
    <p style="color: green;"><%= success %></p>
  <% } %>

  <form action="/user/login" method="POST">
    <% if (!showOtp) { %>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required value="<%= typeof email !== 'undefined' ? email : '' %>"><br><br>

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required><br><br>
    <% } else { %>
      <input type="hidden" name="email" value="<%= email %>">

      <label for="otp">Enter OTP:</label>
      <input type="text" name="otp" id="otp" required><br><br>
    <% } %>

    <button type="submit"><%= showOtp ? "Verify OTP" : "Login" %></button>
  </form>

  <p>Don't have an account? <a href="/user/signup">Sign up here</a></p>
</body>
</html>
